{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"]
  },
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,    
    "__DISABLE_SSR__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}