.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  .navDrawer {

    .drawerContent {
      border-right: 0;
      background-color: $color-white
    }

  }

  .panel {
    background-color: $palette-grey-200
  }

}